.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.jumbotron { 
  background: url('/burp-103/demo_app/img/jumbotron_bg.png'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  text-align: center;
}

html{
	overflow-y: hidden;
}

.media {
  position: fixed;
  bottom: 32px;
  right: 32px;
}

.payload {
  margin-top: 5px;
  padding: 5px;
  background-color: rgba(255,255,255,0.5);
  color: #ed1b2f;
}